@media screen and (max-width: 1700px) {
  .bestsellers .slider-btn {
    left: 20px;

    &.slider-btn--next {
      right: 20px;
    }
  }
}

@media screen and (max-width: 1220px) {
  .product-gallery {
    width: 540px;
  }
  .product-thumbs {
    width: 80px;
    margin-right: 20px;
  }
  .product-main h1 {
    font-size: 28px;
    line-height: 1.3;
  }
  .product-main {
    margin-top: 20px;
  }
  .product-container {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .change-product {
    margin-top: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .single-compos .img {
    height: 170px;
  }
  .footer-logo-line .img {
    width: 60%;
  }
  .footer-logo-line {
    margin-bottom: 30px;
  }
  .single-perm .img {
    width: 48px;
    height: 48px;
  }
  .footer-links {
    margin-top: 40px;
  }
  .single-perm p {
    font-size: 12px;
    line-height: 1.2;
  }
  .footer-logo-line p {
    font-size: 20px;
    line-height: 1.2;
  }
  .single-product .top {
    height: 321px;

    .fav {
      top: 12px;
      right: 12px;
    }

    .tag {
      font-size: 12px;
      padding: 4px 10px;
      top: 12px;
      left: 12px;
    }

  }
  .single-product .rating-stars {
    margin-bottom: 10px;
  }
  .single-product .text {
    span {
      font-size: 12px;
      line-height: 16px;

      strong {
        font-size: 16px;
        line-height: 1.2;
      }
    }

    p {
      font-weight: 300;
      font-size: 10px;
      line-height: 12px;
      margin-top: 16px;
      margin-bottom: 14px;
    }
  }
  .bestsellers .slider-btn {
    left: 8px;

    &.slider-btn--next {
      right: 8px;
    }
  }
  .single-popular .img {
    height: 202px;
  }
  .single-popular {
    .text {
      height: 48px;

      span {
        bottom: 14px;
        font-size: 16px;
        line-height: 19px;
        display: inline-block;
        width: 100%;
      }

      p {
        font-size: 16px;
        line-height: 19px;
      }
    }

    &:hover {
      .text {
        span {
          font-size: 22px;
          line-height: 1.2;
          bottom: 130px;
        }
      }
    }
  }
  .default-title {
    margin-top: 48px;
    margin-bottom: 40px;

    h2 {
      font-size: 32px;
      line-height: 1.2;
      text-transform: uppercase;
    }
  }
  .menu-sub {
    margin-right: 90px;
  }
  .menu-sub ul li a {
    line-height: 20px;
  }
  .menu-card {
    width: 240px;
  }
  .home-banner .slider-btn {
    left: 24px;

    &.slider-btn--next {
      right: 24px;
    }
  }
  .slider-btn {
    width: 32px;
    height: 32px;

    img {
      width: 12px;
      height: 12px;
    }
  }
  .home-banner .dots {
    bottom: 20px;
  }
  .new-products-line .new-img {
    width: 630px;
    height: 650px;
  }
  .new-products-line {
    .single-product {
      .top {
        height: 340px;
      }

      .text {
        span {
          font-size: 18px;
        }
      }
    }
  }
}

.breadcrumbs ul li::after {
  transform: scaleX(0.5);
}

@media screen and (max-width: 1025px) {
  .about-us__row {
    .text {
      padding: 0;

      h2 {
        font-weight: 400;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 15px;
      }

      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        max-width: 100%;
      }
    }
  }
  .breadcrumbs {
    ul {
      li {
        display: flex;

        span {
          line-height: 1;
        }
      }
    }
  }
  .product-gallery {
    flex-direction: column-reverse;
    width: 400px;
  }
  .product-photos .fav {
    top: 10px;
    right: 10px;
  }
  .product-main h1 {
    font-size: 24px;
    margin-bottom: 13px;

  }
  .product-main {
    > span {
      margin-bottom: 15px;
    }

    > p {
      margin-bottom: 24px;
    }
  }
  .product-photos {
    width: 100%;
  }
  .product-thumbs {
    width: 100%;
    margin-right: 0;
    margin-top: 14px;
    height: 70px;
    padding-left: 30px;
    padding-right: 30px;

    .swiper-slide {
      width: 70px;
      height: 70px;
      padding-top: 0;
    }

    .slider-btn {
      width: 30px;
      height: 100%;
      bottom: 0;

      img {
        transform: rotate(0);
      }

      &.slider-btn--next {
        top: 0;
        left: auto;
        right: 0;

        img {
          transform: rotate(0);
        }
      }
    }
  }

  .bestsellers {
    .dots {
      display: flex;
      margin-top: 35px;
      margin-bottom: 30px;
    }
  }
  .single-product .top {
    height: 221px;
  }
  .single-product .top .tag {
    z-index: 2;
    font-size: 10px;
  }
  .header {
    padding-top: 12px;
  }
  .header-top .logo {
    width: 118px;
  }
  .header-top .logo {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .header-top {
    padding-bottom: 18px;
  }
  .menu > ul > li > a {
    font-size: 12px;
    line-height: 15px;

    padding: 14px 15px;
  }
  .header-location {
    padding-right: 40px;
  }
}

@media screen and (max-width: 950px) {
  .catalog-banner {
    height: 350px;
  }
  .catalog-center__list {
    gap: 40px 24px;
  }
  .select-filter {
    width: 190px;
  }
  .select-filter select {
    padding: 10px 20px;
    font-size: 14px;
  }
  .catalog-left {
    width: 250px;
  }
  .catalog-step span {
    padding: 15px 21px;

  }
  .catalog-step ul {
    padding: 0 21px 14px;
  }
  .footer-links {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    .socials {
      width: 100%;
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 840px) {

  .header-search input {
    width: 180px;
  }
  .sub-menu {
    padding: 20px 0;
  }
  .product-usage .img {
    width: 310px;
    height: 210px;
    margin-right: 30px;
  }
}


@media screen and (max-width: 820px) {
  .product-gallery {
    width: 320px;
  }
  .catalog-filter {
    border: none;
  }
  .catalog {
    margin-bottom: 50px;
  }
  .catalog-center__list {
    gap: 24px;

  }
  .catalog-control {
    width: 100%;
    border-top: 1px solid #E9E9E9;
    flex-wrap: wrap;
    gap: 15px;
    padding: 5px 0;
    justify-content: flex-start;

    .filter-btn {
      width: 200px;
      order: 1;
      padding: 10px 20px;
      font-size: 14px;
    }

    .select-filter {
      order: 2;
    }

    .amount-prod {
      order: 3;
    }
  }
  .catalog-center__head {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

  }
  .breadcrumbs {
    width: 100%;
    padding: 8px 0;

    ul {
      flex-wrap: wrap;
    }
  }
  .catalog-banner {
    height: 303px;
    margin-bottom: 0;
  }
  body {
    .header {
      transition: transform 0.4s ease;

    }

    &.no-scroll {
      .header:not(.active) {
        transition: transform 0.4s ease;
        transform: translate(0, -110%);

      }
    }
  }
  .filter-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    &::after {
      width: 20px;
      height: 20px;
      display: inline-block;
      content: '';
      background: url("../img/plus-ic1.svg") no-repeat center / 100%;
      top: 50%;
      right: 16px;
      transform: translate(0, -50%);
      position: absolute;
    }

    background: rgba(255, 255, 255, 0);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #202020;
    padding: 21px 24px;
    border: 1px solid #e9e9e9;
  }
  .catalog-step ul {
    padding: 0 21px 14px 56px;

    li {
      p {
        &::before {
          right: calc(100% + 16px);
        }
      }
    }
  }
  .catalog-step {
    span {
      font-size: 20px;
      line-height: 23px;
      padding: 25px 24px;
      font-weight: 500;

      &::after {
        width: 25px;
        height: 25px;
      }
    }

    &.active {
      span {
        &::after {
          display: flex;
          content: '';
          background: url("../img/minus-ic.svg") no-repeat center / 100%;
        }
      }
    }

    &:last-child {
      border-bottom: 1px solid #e9e9e9;
    }
  }
  .catalog-left__head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #202020;
    padding: 24px 25px;
    position: sticky;
    top: 0;
    z-index: 10;

    .cls {
      position: absolute;
      right: 20px;
      top: 50%;
      width: 35px;
      height: 35px;
      padding: 5px;
      transform: translate(0, -50%) rotate(45deg);
      cursor: pointer;
      filter: invert(1);

      img {
        width: 100%;
        height: 100%;
      }
    }

    p {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      text-transform: uppercase;

      /* White */

      color: #FFFFFF;
    }
  }
  main.open {
    //z-index: 100;
  }
  .catalog-left {
    border: none;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;

    background: #fff;
    margin-right: 0;
    width: 100%;
    left: 0;
    z-index: 1000;
    padding-bottom: 60px;
    transform: translate(-110%, 0);
    pointer-events: none;
    transition: transform 0.3s ease-out;

    &.open {
      transform: translate(0, 0);
      pointer-events: auto;
    }
  }
  .footer-top {
    padding-top: 20px;
    padding-bottom: 38px;

  }
  .footer-logo-line {
    .img {
      flex-grow: 1;
      width: auto;
      margin-right: 8px;
    }

    p {
      flex-shrink: 0;
      font-style: normal;
      font-weight: 400;
      font-size: 8px;
      white-space: nowrap;
      line-height: 11px;
      text-align: center;
      color: #F6F6F6;
    }
  }
  .footer-perm {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 45px;
  }
  .footer-bottom {
    padding-top: 0;
    padding-bottom: 24px;
    flex-direction: column-reverse;
    gap: 40px;
  }
  .single-perm {
    width: 100%;
    justify-content: center;

    .img {
      width: 56px;
      height: 56px;
      margin-right: 15px;
    }

    p {
      font-size: 14px;
    }
  }

  .new-products-line .new-img {
    width: 100%;
    height: 450px;
  }
  .new-products-line {
    flex-wrap: wrap;

    .single-product {
      width: calc(50% - 12px);

      &:last-child {
        display: flex;
      }

      .top {
        height: 221px;
      }

      .text {
        span {
          font-size: 14px;
        }
      }
    }
  }
  .lang {
    &:hover {
      ul {
        opacity: 0;
        pointer-events: none;
      }
    }

    &.active {
      ul {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
  .lang ul li a {
    background: $black;
    color: #fff;
  }
  .lang-dab {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 24px;
    border-bottom: 1px solid #E9E9E9;

    .lang {
      display: flex;

      > span {
        color: $black;

        &::after {
          filter: invert(1);
        }
      }
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      /* identical to box height, or 143% */

      text-align: center;

      color: #202020;
    }
  }
  .copyr-header {
    width: 100%;
    display: flex;
    padding: 24px;

    p {
      font-style: normal;
      font-weight: 300;
      font-size: 10px;
      line-height: 24px;
      color: #202020;
    }
  }

  .footer-company {
    display: flex;
    width: calc(100% + 48px);
    margin-left: -24px;
    margin-right: -24px;
    padding: 0 24px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    border-top: 1px solid rgba(255, 255, 255, .1);

    span {
      width: 100%;

      padding: 24px 0;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      position: relative;


      font-weight: 500 !important;
      font-size: 20px;
      line-height: 23px;
      text-transform: uppercase;

      color: #fff;


      &::before, &::after {
        width: 18px;
        height: 2px;
        border-radius: 4px;
        background: #fff;
        display: inline-block;
        right: 27px;
        top: 50%;
        bottom: auto !important;
        border: none !important;
        left: auto !important;
        content: '';
        position: absolute;
        transform: translate(0, -50%) !important;

      }

      &::after {
        opacity: 1 !important;
        transform: translate(0, -50%) rotate(90deg) !important;
      }
    }

    ul {
      width: 100%;
      display: none;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 10px 0;

      li {
        width: 100%;

        a {
          font-size: 12px;
          line-height: 14px;
          text-decoration: underline;
        }

        p, a {
          width: 100%;
          padding: 6px 0;
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 32px;
          color: #fff;
        }


      }
    }

    &.active {
      span {
        &::after {
          opacity: 0 !important;
        }
      }

      ul {
        display: flex;
      }
    }
  }
  .address-block {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1px solid #E9E9E9;

    ul {
      width: 100%;
      display: none;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      border-top: 1px solid #E9E9E9;
      padding: 10px 0;

      li {
        width: 100%;

        p, a {
          width: 100%;
          padding: 6px 24px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          text-transform: uppercase;
          color: #202020;
        }

        a {
          font-size: 12px;
          line-height: 14px;
          text-decoration: underline;
        }
      }
    }

    &.active {
      .address-key {
        &::after {
          opacity: 0 !important;
        }
      }

      ul {
        display: flex;
      }
    }
  }
  .address-key {
    width: 100%;

    padding: 24px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: relative;

    .img {
      width: 24px;
      height: 24px;
      margin-right: 6px;

      img {
        width: 100%;
        height: 100%;
        filter: invert(1);
      }

    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;

      color: $black;
    }

    &::before, &::after {
      width: 18px;
      height: 2px;
      border-radius: 4px;
      background: #000000;
      display: inline-block;
      right: 27px;
      top: 50%;
      bottom: auto !important;
      border: none !important;
      left: auto !important;
      content: '';
      position: absolute;
      transform: translate(0, -50%) !important;

    }

    &::after {
      opacity: 1 !important;
      transform: translate(0, -50%) rotate(90deg) !important;
    }
  }

  .hidden-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

  }
  .header-bot {
    transform: translate(-110%, 0);
    transition: transform 0.4s ease-out;
  }
  .header.active {
    .header-bot {
      transform: translate(0, 0);
    }
  }
  .footer-links {
    .address-block ul {
      border-top: none;
      padding-left: 0;
      padding-right: 0;

      p, a {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .address-block ul li a, .address-block ul li p {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 32px;
      color: #FFFFFF;
      text-transform: initial;
    }

    .address-block {
      border-bottom: none;

      .address-key {
        .img {
          filter: invert(1);
        }

        padding-left: 0;
        padding-right: 0;

        &::after, &::before {
          background: #fff;
        }

        p {
          font-weight: 500 !important;
          font-size: 20px;
          line-height: 23px;
          text-transform: uppercase;
          color: #fff;

        }
      }
    }
  }
  .footer-links .socials {
    margin-top: 0;

    .insta-cons, .tg-cons {
      width: calc(100% + 48px);
      margin-left: -24px;
      margin-right: -24px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .tg-cons {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
  .insta-cons, .tg-cons {
    width: 100%;
    display: flex;
    background: $black;
    padding: 36px 24px;
    align-items: center;
    justify-content: flex-start;

    .img {
      width: 48px;
      height: 48px;
      flex-shrink: 0;
      margin-right: 19px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      text-transform: uppercase;
      color: #FFFFFF;

      strong {
        font-weight: inherit;
        text-decoration: underline;
      }
    }
  }

  .burger {
    display: flex;
    width: 16px;
    height: 12px;
    position: relative;
    cursor: pointer;
    margin-right: auto;

    span {
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background: #fff;
      display: inline-block;
      position: absolute;
      transition: all 0.3s ease;

      &:nth-child(1) {
        top: 0;
        left: 0;
      }

      &:nth-child(2) {
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
      }

      &:nth-child(3) {
        bottom: 0;
        left: 0;
      }
    }

    &.active {
      span {
        &:nth-child(1), &:nth-child(2) {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &:nth-child(3) {
          bottom: 50%;
          left: 50%;
          transform: translate(-50%, 50%) rotate(-45deg);
        }
      }
    }
  }
  .header-top {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding: 20px 0 23px;
  }
  .header {
    padding-top: 0;
  }
  .header-desk-control {
    order: 3;
    width: 100%;
    margin-top: 20px;

    .lang {
      display: none;
    }
  }
  .header-search {
    width: 100%;
    margin: 0;

    input {
      width: 100%;
    }
  }

  .header-top .logo {
    top: 17px;
    transform: translate(-50%, 0);
  }
  .header-location {
    width: 24px;
    height: 24px;
    color: rgba(255, 255, 255, 0);
    overflow: hidden;
    padding: 0;
    margin-right: 0;

    img {
      width: 100%;
      height: 100%;
    }


  }
  .header {
    position: sticky;
  }
  .header-bot {
    position: absolute;
    top: 100%;
    left: 0;
    background: #eeeeee;
    padding: 0;
    border: none;
    height: calc(100vh - 123px);
    overflow-y: auto;
  }
  .header-bot {
    background: #fff;
  }
  .menu-card {
    display: none;
  }
  .sub-menu {
    box-shadow: none;
  }
  .menu {
    width: 100%;

    > ul {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      background: #fff;
      gap: 0;

      > li {
        width: 100%;


        > a {
          padding: 24px;
          font-weight: 500;
          font-size: 20px;
          line-height: 23px;
          text-transform: uppercase;
          text-align: left;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          color: $black;
          border-bottom: 1px solid #E9E9E9;
          position: relative;

          &::before, &::after {
            width: 18px;
            height: 2px;
            border-radius: 4px;
            background: #000000;
            display: inline-block;
            right: 27px;
            top: 50%;
            bottom: auto !important;
            border: none !important;
            left: auto !important;
            content: '';
            position: absolute;
            transform: translate(0, -50%) !important;

          }

          &::after {
            opacity: 1 !important;
            transform: translate(0, -50%) rotate(90deg) !important;
          }
        }


        &.menu-item-has-children.active {

          > a {
            background: $black;
            color: #fff;

            &::after {
              opacity: 0 !important;
            }

            &::before, &::after {
              background: #fff;
            }
          }
        }

      }
    }

  }

  .menu {
    .all {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      a {

        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        width: 100%;
        padding: 24px;

        text-transform: uppercase;
        text-align: left;
        color: $black;
        border-bottom: 1px solid #E9E9E9;
      }
    }
  }
  .sub-menu {
    position: static;
    opacity: 1;
    pointer-events: auto;
    padding: 0;
    border: none;

    .container {
      padding: 0;
      background: #fff;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  .menu-sub {
    width: 100%;
    margin: 0;

    > li {
      width: 100%;

      > a {
        width: 100%;
        padding: 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: $black;
        border-bottom: 1px solid #E9E9E9;
        position: relative;

        &::before, &::after {
          width: 18px;
          height: 2px;
          border-radius: 4px;
          background: #000000;
          display: inline-block;
          right: 27px;
          top: 50%;
          bottom: auto !important;
          border: none !important;
          left: auto !important;
          content: '';
          position: absolute;
          transform: translate(0, -50%) !important;

        }

        &::after {
          opacity: 1 !important;
          transform: translate(0, -50%) rotate(90deg) !important;
        }

      }

      &.active {
        > a {
          &::after {
            opacity: 0 !important;
          }
        }
      }

      > ul {
        margin: 0;

        li {
          width: 100%;

          &.active {
            a {
              background: $black;
              color: #fff;
            }
          }

          a {
            display: flex;
            padding: 10px 40px;
            width: 100%;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #000000;
          }
        }
      }
    }
  }

  .menu {
    > ul {
      > li {
        &.menu-item-has-children {
          .all {
            display: none;
          }

          .sub-menu {
            display: none;
          }

          &.active {
            .all {
              display: flex;
            }

            .sub-menu {
              display: flex;
            }
          }
        }
      }
    }
  }

  .menu-sub {
    > li {
      > ul {
        display: none;
      }

      &.active {
        > ul {
          display: flex;
        }
      }
    }
  }
}

@media screen and (max-width: 815px) {
  .product-details {
    gap: 40px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .product-blocks {
    width: 100%;
  }
  .product-usage .img {
    width: 220px;
    height: 120px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 700px) {
  .about-us__container {
    gap: 40px;
    padding-bottom: 30px;
  }
  .about-us__row {
    gap: 32px;
    flex-direction: column !important;
    align-items: flex-start;
    justify-content: flex-start;
    .img {
      width: 100%;
      padding-top: 58%;
    }
    .text {
      width: 100%;
    }
  }
  .about-us {
    margin: 24px 0 40px;
  }
  .product-usage {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .img {
      width: 100%;
      height: 175px;
      margin-bottom: 16px;
    }

    .text {
      width: 100%;
    }
  }
  .full-composition {
    width: calc(100% + 48px);
    margin-left: -24px;
    margin-right: -24px;

    .text {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  .relevant-product {
    .default-title {
      margin-bottom: 24px;

      h2 {
        font-size: 24px;
        line-height: 28px;
      }
    }
  }
  .composition-list {
    overflow-x: auto;
    padding-bottom: 15px;
    width: calc(100% + 24px);
    margin-right: -24px;
    padding-right: 24px;

    .single-compos {
      width: 240px;
      flex-shrink: 0;
    }
  }
  .full-composition .text {
    margin-top: 16px;
  }
  .product-usage {
    margin-top: 40px;

    .text {
      h3 {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 16px;
      }

      p {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 12px;
      }
    }
  }
  .relevant-product {
    margin-bottom: 48px;
  }
  .product-composition .default-title {
    justify-content: flex-start;
  }
  .full-composition {
    margin-top: 40px;
  }
  .full-composition {
    padding-bottom: 48px;
  }
  .product-usage {
    margin-top: 40px;
  }
  .single-compos {
    .img {
      height: 175px;
      margin-bottom: 16px;
    }

    .text {
      span {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 16px;
      }

      p {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 13px;
      }
    }
  }
  .product-details {
    padding-bottom: 40px;
  }
  .product-blocks {
    span {
      font-size: 32px;
      line-height: 37px;
      margin-bottom: 16px;
    }

    p, li {
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .breadcrumbs ul li::after {
    margin-left: 2px;
    margin-right: 2px;
  }
  .breadcrumbs ul li {
    a, span {
      font-size: 12px;
      line-height: 1.3;
    }

    span {
      font-weight: 500;
    }
  }
  .product-main {
    h1 {
      text-align: center;
    }

    > span {
      width: 100%;
      text-align: center;
    }

    > p {
      width: 100%;
      text-align: center;
    }
  }
  .change-product p {
    margin-bottom: 12px;
  }
  .rating-block {
    justify-content: center;
  }
  .buy-prod {
    margin-top: 12px;

    p {
      display: none;
    }

    a {
      margin-bottom: 0;
    }
  }
  .product-container {
    margin-top: 15px;
    margin-bottom: 40px;
  }
  .product {
    margin-top: 5px;
  }
  .product-photos {
    .btns {
      display: flex;
    }

    .dots {
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      right: 0;
      z-index: 3;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 0;

      .single-dot {
        background: #202020;
      }
    }

    .slider-btn {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 3;

      &.slider-btn--next {
        left: auto;
        right: 0;
      }
    }
  }
  .product-thumbs {
    display: none;
  }
  .product-gallery {
    width: 100%;
    margin-right: 0;
    margin-bottom: 70px;
  }
  .product-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .single-popular {
    width: 100%;
  }
  .new-products {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 600px) {
  .catalog-banner.about-banner {
    padding-bottom: 0;
    height: 358px;

    .img {
      &.dk {
        display: none;
      }

      &.mb {
        display: flex;
      }
    }
  }
  .product-blocks {
    padding-right: 0;
  }
  .rel-prods {
    gap: 32px 20px;
    flex-wrap: wrap;

    .single-product {
      width: calc(50% - 10px);
    }
  }
  .catalog-center__head {
    margin-bottom: 0;
  }
  .catalog-control {
    margin-bottom: 25px;
    gap: 0;
    padding: 0;

    .select-filter {
      width: 50%;
    }

    .filter-btn, .select-filter select {
      padding: 20px 24px;
      font-size: 14px;
      line-height: 1.1;
      border: none;
      border-bottom: 1px solid #e9e9e9;
    }

    .filter-btn {
      width: 50%;
      border-right: 1px solid #e9e9e9;
    }

    .amount-prod {
      width: 100%;
      text-align: center;
      justify-content: center;
      font-size: 14px;
      line-height: 32px;
      margin-top: 5px;
    }
  }
  .catalog-control {
    width: calc(100% + 48px);
    margin-left: -24px;
    margin-right: -24px;
  }
  .single-perm {
    justify-content: flex-start;
  }
  .footer-bottom {
    .copyr, ul li a {
      font-style: normal;
      font-weight: 300;
      font-size: 10px;
      line-height: 24px;
      color: #FFFFFF;
    }

    ul {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 7px;
    }
  }
  .new-products-line .single-product .text span {
    font-size: 12px;
  }
  .new-products-line .new-img {
    width: calc(100% + 48px);
    margin-left: -24px;
    margin-right: -24px;
    height: 240px;
    margin-bottom: 12px;
  }
  .home-banner {
    height: auto;

    .dots {
      position: static;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      transform: translate(0);
    }

    .swiper {
      height: auto;
    }

    .swiper-wrapper {
      height: auto;
      align-items: stretch;
    }

    .slider-btn {
      bottom: 0;
      top: auto;
      transform: translate(0);
    }
  }

  .banner-home {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .img {
      display: none;
    }

    .pic {
      width: 100%;
      height: 263px;
      margin-bottom: 40px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .dots {
    background: #fff;

    .single-dot {
      background: $black;
    }
  }

  .banner-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 24px;

    .btn-def {
      width: 100%;
    }

    span {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      color: #202020;
      display: inline-block;
      margin-bottom: 8px;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #202020;
      margin-bottom: 36px;
    }

    .pic {
      width: calc(100% + 49px);
      margin-left: -24px;
      margin-right: -24px;
    }
  }

}


@media screen and (max-width: 515px) {
  .catalog-center__list {
    gap: 40px 16px;

    .single-product {
      width: calc(50% - 8px);
    }
  }
}

@media screen and (max-width: 340px) {
  .banner-text p {
    margin-bottom: 24px;
  }
  .btn-def {
    font-size: 15px;
    line-height: 1.2;
  }
  .banner-text span {
    font-size: 20px;
    line-height: 1.2;
  }
  .default-title {
    h2 {
      font-size: 24px;
      line-height: 1.2;
    }
  }
}
