@media screen and (max-width: 1700px) {
  .bestsellers .slider-btn {
    left: 20px;

    &.slider-btn--next {
      right: 20px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .single-product .top {
    height: 321px;

    .fav {
      top: 12px;
      right: 12px;
    }

    .tag {
      font-size: 12px;
      padding: 4px 10px;
      top: 12px;
      left: 12px;
    }

  }
  .single-product .rating-stars {
    margin-bottom: 10px;
  }
  .single-product .text {
    span {
      font-size: 12px;
      line-height: 16px;

      strong {
        font-size: 16px;
        line-height: 1.2;
      }
    }

    p {
      font-weight: 300;
      font-size: 10px;
      line-height: 12px;
      margin-top: 16px;
      margin-bottom: 14px;
    }
  }
  .bestsellers .slider-btn {
    left: 8px;

    &.slider-btn--next {
      right: 8px;
    }
  }
  .single-popular .img {
    height: 202px;
  }
  .single-popular {
    .text {
      height: 48px;

      span {
        bottom: 14px;
        font-size: 16px;
        line-height: 19px;
        display: inline-block;
        width: 100%;
      }

      p {
        font-size: 16px;
        line-height: 19px;
      }
    }

    &:hover {
      .text {
        span {
          font-size: 22px;
          line-height: 1.2;
          bottom: 130px;
        }
      }
    }
  }
  .default-title {
    margin-top: 48px;
    margin-bottom: 40px;

    h2 {
      font-size: 32px;
      line-height: 1.2;
      text-transform: uppercase;
    }
  }
  .menu-sub {
    margin-right: 90px;
  }
  .menu-sub ul li a {
    line-height: 20px;
  }
  .menu-card {
    width: 240px;
  }
  .home-banner .slider-btn {
    left: 24px;

    &.slider-btn--next {
      right: 24px;
    }
  }
  .slider-btn {
    width: 32px;
    height: 32px;

    img {
      width: 12px;
      height: 12px;
    }
  }
  .home-banner .dots {
    bottom: 20px;
  }
  .new-products-line .new-img {
    width: 630px;
    height: 650px;
  }
  .new-products-line {
    .single-product {
      .top {
        height: 340px;
      }

      .text {
        span {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 1025px) {

  .bestsellers {
    .dots {
      display: flex;
      margin-top: 35px;
      margin-bottom: 30px;
    }
  }
  .single-product .top {
    height: 221px;
  }
  .single-product .top .tag {
    z-index: 2;
    font-size: 10px;
  }
  .header {
    padding-top: 12px;
  }
  .header-top .logo {
    width: 118px;
  }
  .header-top .logo {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .header-top {
    padding-bottom: 18px;
  }
  .menu > ul > li > a {
    font-size: 12px;
    line-height: 15px;

    padding: 14px 15px;
  }
  .header-location {
    padding-right: 40px;
  }
}

@media screen and (max-width: 840px) {

  .header-search input {
    width: 180px;
  }
  .sub-menu {
    padding: 20px 0;
  }
}


@media screen and (max-width: 820px) {

  .new-products-line .new-img {
    width: 100%;
    height: 450px;
  }
  .new-products-line {
    flex-wrap: wrap;

    .single-product {
      width: calc(50% - 12px);

      &:last-child {
        display: flex;
      }

      .top {
        height: 221px;
      }

      .text {
        span {
          font-size: 14px;
        }
      }
    }
  }
  .lang {
    &:hover {
      ul {
        opacity: 0;
        pointer-events: none;
      }
    }

    &.active {
      ul {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
  .lang ul li a {
    background: $black;
    color: #fff;
  }
  .lang-dab {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 24px;
    border-bottom: 1px solid #E9E9E9;

    .lang {
      display: flex;

      > span {
        color: $black;

        &::after {
          filter: invert(1);
        }
      }
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      /* identical to box height, or 143% */

      text-align: center;

      color: #202020;
    }
  }
  .copyr-header {
    width: 100%;
    display: flex;
    padding: 24px;

    p {
      font-style: normal;
      font-weight: 300;
      font-size: 10px;
      line-height: 24px;
      color: #202020;
    }
  }


  .address-block {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1px solid #E9E9E9;

    ul {
      width: 100%;
      display: none;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      border-top: 1px solid #E9E9E9;
      padding: 10px 0;

      li {
        width: 100%;

        p, a {
          width: 100%;
          padding: 6px 24px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          text-transform: uppercase;
          color: #202020;
        }

        a {
          font-size: 12px;
          line-height: 14px;
          text-decoration: underline;
        }
      }
    }

    &.active {
      .address-key {
        &::after {
          opacity: 0 !important;
        }
      }

      ul {
        display: flex;
      }
    }
  }
  .address-key {
    width: 100%;

    padding: 24px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: relative;

    .img {
      width: 24px;
      height: 24px;
      margin-right: 6px;

      img {
        width: 100%;
        height: 100%;
        filter: invert(1);
      }

    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;

      color: $black;
    }

    &::before, &::after {
      width: 18px;
      height: 2px;
      border-radius: 4px;
      background: #000000;
      display: inline-block;
      right: 27px;
      top: 50%;
      bottom: auto !important;
      border: none !important;
      left: auto !important;
      content: '';
      position: absolute;
      transform: translate(0, -50%) !important;

    }

    &::after {
      opacity: 1 !important;
      transform: translate(0, -50%) rotate(90deg) !important;
    }
  }

  .hidden-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

  }
  .header-bot {
    transform: translate(-110%, 0);
    transition: transform 0.4s ease-out;
  }
  .header.active {
    .header-bot {
      transform: translate(0, 0);
    }
  }
  .insta-cons {
    width: 100%;
    display: flex;
    background: $black;
    padding: 36px 24px;
    align-items: center;
    justify-content: flex-start;

    .img {
      width: 48px;
      height: 48px;
      flex-shrink: 0;
      margin-right: 19px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      text-transform: uppercase;
      color: #FFFFFF;

      strong {
        font-weight: inherit;
        text-decoration: underline;
      }
    }
  }

  .burger {
    display: flex;
    width: 16px;
    height: 12px;
    position: relative;
    cursor: pointer;
    margin-right: auto;

    span {
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background: #fff;
      display: inline-block;
      position: absolute;
      transition: all 0.3s ease;

      &:nth-child(1) {
        top: 0;
        left: 0;
      }

      &:nth-child(2) {
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
      }

      &:nth-child(3) {
        bottom: 0;
        left: 0;
      }
    }

    &.active {
      span {
        &:nth-child(1), &:nth-child(2) {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &:nth-child(3) {
          bottom: 50%;
          left: 50%;
          transform: translate(-50%, 50%) rotate(-45deg);
        }
      }
    }
  }
  .header-top {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding: 20px 0 23px;
  }
  .header {
    padding-top: 0;
  }
  .header-desk-control {
    order: 3;
    width: 100%;
    margin-top: 20px;

    .lang {
      display: none;
    }
  }
  .header-search {
    width: 100%;
    margin: 0;

    input {
      width: 100%;
    }
  }

  .header-top .logo {
    top: 17px;
    transform: translate(-50%, 0);
  }
  .header-location {
    width: 24px;
    height: 24px;
    color: rgba(255, 255, 255, 0);
    overflow: hidden;
    padding: 0;
    margin-right: 0;

    img {
      width: 100%;
      height: 100%;
    }


  }
  .header {
    position: relative;
  }
  .header-bot {
    position: absolute;
    top: 100%;
    left: 0;
    background: #eeeeee;
    padding: 0;
    border: none;
    height: calc(100vh - 123px);
    overflow-y: auto;
  }
  .header-bot {
    background: #fff;
  }
  .menu-card {
    display: none;
  }
  .sub-menu {
    box-shadow: none;
  }
  .menu {
    width: 100%;

    > ul {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      background: #fff;
      gap: 0;

      > li {
        width: 100%;


        > a {
          padding: 24px;
          font-weight: 500;
          font-size: 20px;
          line-height: 23px;
          text-transform: uppercase;
          text-align: left;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          color: $black;
          border-bottom: 1px solid #E9E9E9;
          position: relative;

          &::before, &::after {
            width: 18px;
            height: 2px;
            border-radius: 4px;
            background: #000000;
            display: inline-block;
            right: 27px;
            top: 50%;
            bottom: auto !important;
            border: none !important;
            left: auto !important;
            content: '';
            position: absolute;
            transform: translate(0, -50%) !important;

          }

          &::after {
            opacity: 1 !important;
            transform: translate(0, -50%) rotate(90deg) !important;
          }
        }


        &.menu-item-has-children.active {

          > a {
            background: $black;
            color: #fff;

            &::after {
              opacity: 0 !important;
            }

            &::before, &::after {
              background: #fff;
            }
          }
        }

      }
    }

  }

  .menu {
    .all {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      a {

        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        width: 100%;
        padding: 24px;

        text-transform: uppercase;
        text-align: left;
        color: $black;
        border-bottom: 1px solid #E9E9E9;
      }
    }
  }
  .sub-menu {
    position: static;
    opacity: 1;
    pointer-events: auto;
    padding: 0;
    border: none;

    .container {
      padding: 0;
      background: #fff;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  .menu-sub {
    width: 100%;
    margin: 0;

    > li {
      width: 100%;

      > a {
        width: 100%;
        padding: 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: $black;
        border-bottom: 1px solid #E9E9E9;
        position: relative;

        &::before, &::after {
          width: 18px;
          height: 2px;
          border-radius: 4px;
          background: #000000;
          display: inline-block;
          right: 27px;
          top: 50%;
          bottom: auto !important;
          border: none !important;
          left: auto !important;
          content: '';
          position: absolute;
          transform: translate(0, -50%) !important;

        }

        &::after {
          opacity: 1 !important;
          transform: translate(0, -50%) rotate(90deg) !important;
        }

      }

      &.active {
        > a {
          &::after {
            opacity: 0 !important;
          }
        }
      }

      > ul {
        margin: 0;

        li {
          width: 100%;

          &.active {
            a {
              background: $black;
              color: #fff;
            }
          }

          a {
            display: flex;
            padding: 10px 40px;
            width: 100%;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #000000;
          }
        }
      }
    }
  }

  .menu {
    > ul {
      > li {
        &.menu-item-has-children {
          .all {
            display: none;
          }

          .sub-menu {
            display: none;
          }

          &.active {
            .all {
              display: flex;
            }

            .sub-menu {
              display: flex;
            }
          }
        }
      }
    }
  }

  .menu-sub {
    > li {
      > ul {
        display: none;
      }

      &.active {
        > ul {
          display: flex;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .single-popular {
    width: 100%;
  }
  .new-products {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 600px) {
  .new-products-line .single-product .text span {
    font-size: 12px;
  }
  .new-products-line .new-img {
    width: calc(100% + 48px);
    margin-left: -24px;
    margin-right: -24px;
    height: 240px;
    margin-bottom: 12px;
  }
  .home-banner {
    height: auto;

    .dots {
      position: static;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      transform: translate(0);
    }

    .swiper {
      height: auto;
    }

    .swiper-wrapper {
      height: auto;
      align-items: stretch;
    }

    .slider-btn {
      bottom: 0;
      top: auto;
      transform: translate(0);
    }
  }

  .banner-home {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .img {
      display: none;
    }

    .pic {
      width: 100%;
      height: 263px;
      margin-bottom: 40px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .dots {
    background: #fff;

    .single-dot {
      background: $black;
    }
  }

  .banner-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 24px;

    .btn-def {
      width: 100%;
    }

    span {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      color: #202020;
      display: inline-block;
      margin-bottom: 8px;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #202020;
      margin-bottom: 36px;
    }

    .pic {
      width: calc(100% + 49px);
      margin-left: -24px;
      margin-right: -24px;
    }
  }

}

@media screen and (max-width: 340px) {
  .banner-text p {
    margin-bottom: 24px;
  }
  .btn-def {
    font-size: 15px;
    line-height: 1.2;
  }
  .banner-text span {
    font-size: 20px;
    line-height: 1.2;
  }
  .default-title {
    h2 {
      font-size: 24px;
      line-height: 1.2;
    }
  }
}
